.table{
    width: 100%;
    padding: 20px;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    color: #444;
}

.row{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.cityName{
    font-weight: bold;
}

.cityName > th {
    text-align: start;
}

.weatherImg{
    width: 100px;
}

.weatherTemp{
    padding-left: 20px;
    text-align: start;
    font-size: 36px;
}





