.headerBlock {
    width: 100%;
    background-color: #aaa;
}

.message {
    box-sizing: border-box;
    margin: 0 auto;
    width: 750px;
    padding: 0 25px 10px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #444;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
}

.loginInput {
    width: 200px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #444;
}

.loginBtn {
    width: 208px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #444;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    padding: 15px;
    margin: 0 auto;
}

.containerWeather {
    width: 720px;
    height: 100%;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 330px;
    padding: 5px;
    border-radius: 10px;
}

.city {
    flex: 1;
    margin: 0 20px 0 0;
    line-height: 20px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #444;
}

.error {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    color: #000;
}

.ldsRing {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 200px auto;
}

.ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #aaa transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
}

.ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
}

.ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
